@import "tailwindcss";

@theme {
  --color-brand-green: #0E4D38;
  --color-brand-gold: #FBBF24;
  --color-brand-gold-light: #FCD34D;
  
  --font-serif: var(--font-cinzel), serif;
  --font-sans: var(--font-inter), sans-serif;
  --font-playfair: var(--font-playfair), serif;
}

/* Custom Utilities */
@utility text-balance {
  text-wrap: balance;
}

body {
  background-color: var(--color-brand-green);
  color: white;
  font-family: var(--font-sans);
  overflow-x: hidden;
}
